body{
    font-family: "Space Grotesk", sans-serif;
    color: white;
    margin: 0 auto;
}
button{
    cursor: pointer;
}
button:active{
    transform: scale(1.02);
}

a:hover{
    color: #fe725f;
    text-decoration: none;
}